- В примере ниже проставлены дефолтные параметры для информативности:

MODE=DEV # Оставить как есть

- Рабочая БД:
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=<имя вашей бд без ковычек>

- Тестовая БД:
TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASS=postgres
TEST_DB_NAME=<имя вашей бд для тестов без ковычек>


Пример генерации ключа расположен в корне проекта в файле secret_key.py

SECRET_KEY=<Секретный ключ без ковычек>
ALGORITHM=<алгоритм шифрования, если воспользовались предложенным примером генерации выставьте - HS256>

